body{
    background-image:url('../images/smoke.jpeg');
    color: whitesmoke;
}

button{
    margin: 5px;
    /* float:right; */
}

.buttons {
    margin-left: 20px;
    border: solid 1px rgb(233, 221, 225); 
    width: 300px;
    padding: 10px 5px 10px 5px;
    background-color: rgba(245, 245, 245, 0.233);
}

.btn{
    background-color: #F56270;
    border: #F56270;
    font-family: Carrois Gothic SC;
}

.btn:hover{
    background-color: #8868CD;
}

.main-header {
    font-family: 'Carrois Gothic SC', sans-serif;
    color: white;
    background-color: rgba(245, 98, 113, 0.575);
    /*background-color: rgba(223, 35, 138, 0.692);
    background-image: url('../images/smoke.jpeg');
    background-position: center; */
}

.input-group-text, .custom-file-label {
    font-family: 'Roboto Condensed', sans-serif;
    color: #e5bcdd;
}

.normal-text {
    font-family: Megrim;
    color: #e2e0e2;
}

.modal{
        display:none;
        height: 500px;
        width: 500px;
        margin: 200px 200px;
};

option{
    color: black;
}

.selectpicker {
    color: black;
}

#surveyContainer {
    padding-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.247);
}

.second-set {
    margin-top: 10px;
}